@use "../variables/colors";
@use "../functions/var" as *;

.admin-navbar {
  min-height: 100px;
  padding: 0px !important;
  background-color: var(themes-admin-navbarbgcolor);

  &__collapse {
    display: flex !important;
    justify-content: flex-end;
  }

  #logo {
    position: absolute;
    left: 85px;
    top: 0px;
    display: none;
    content: var(themes-admin-navbarlogo);
    background-size: 100px;
    background-position: center;
    height: 100px;
    /* width: 300px; */
    padding: 5px;
    /* background-color: var(themes-admin-sidebarbg); */

    @media screen and (min-width: 992px) {
      display: flex;
    }
  }

  .navbar-nav {
    position: absolute;
    right: 15px;
  }

  .show .btn-secondary.dropdown-toggle {
    background-color: var(themes-admin-navbarbgcolor);
    color: black;
    /*    color: rgba(240, 3, 3, 1); */
  }

  .dropdown-toggle {
    background-color: var(themes-admin-navbarbgcolor);
    border: none;
    color: black;
    /* color: rgba(240, 3, 3, 1); */
    & img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px var(themes-admin-avatarbordercolor) solid;
    }
  }

  .dropdown-toggle:active,
  .dropdown-toggle:focus,
  .dropdown-toggle:hover {
    box-shadow: none !important;
    border: none !important;
    background-color: var(themes-admin-navbarbgcolor);
    color: black;
    /* color: rgba(240, 3, 3, 1); */
  }

  .dropdown-menu {
    background-color: var(themes-admin-navbarbgcolor);
    border: none !important;
    transform: translate(15px, 71px) !important;

    a {
      padding: 0px;
    }

    a,
    .nav-link {
      color: black;
      /* color: rgba(240, 3, 3, 1); */
      text-decoration: none;
    }

    .dropdown-item {
      div {
        padding: 10px 0px;
      }
    }
  }
}
