@use "../variables/colors";
@use "../functions/var" as *;

body.accessibility {
  .nav-link {
    color: rgba(255, 255, 255, 1) !important;
    /*             border: unset;
          text-shadow: 1px 1px var(themes-public-navlinktextshadow); */

    /*           @media screen and (min-width: 992px) {
              border-bottom: 5px solid var(themes-public-navlinkhoveractive);
              background-color: unset;
          } */
  }

  .nav-link:hover {
    background-color: white;
    color: black !important;
    /*             border: unset;
          text-shadow: 1px 1px var(themes-public-navlinktextshadow); */

    /*           @media screen and (min-width: 992px) {
              border-bottom: 5px solid var(themes-public-navlinkhoveractive);
              background-color: unset;
          } */
  }

  .nav-link.active {
    background-color: white;
    color: black !important;
    /*             border: unset;
          text-shadow: 1px 1px var(themes-public-navlinktextshadow); */

    /*           @media screen and (min-width: 992px) {
              border-bottom: 5px solid var(themes-public-navlinkhoveractive);
              background-color: unset;
          } */
  }
}

.public_full header {
  display: flex;
  min-height: 70px;
  width: inherit;

  @media screen and (min-width: 992px) {
    min-height: 150px;
  }
}

.public-navbar {
  font-size: 1em;
  background-color: var(themes-public-navbgcolor);
  /*  background-color: transparent; */
  /* min-height: 50px; */
  /* background-image: var(themes-public-navbarbgimage);
    background-size: contain; */
  margin: 0px auto;
  width: 100%;
  min-height: 70px;
  /*  background-color: transparent; */
  /* width: calc(100vw - (100vw - 100%)); */
  border-radius: 0px;
  position: fixed !important;
  /* top: 70px; */
  z-index: 2;
  padding: 5px 10px !important;
  box-shadow: 0px 5px 5px grey;

  /*  @media screen and (min-width: 1080px) {
        font-size: 1.2em;
    } */

  @media screen and (min-width: 992px) and (max-width: 1256px) {
    /* box-shadow: 0.25rem 0.25rem 4px 4px var(themes-public-boxshadowcolor); */
    font-size: 0.75em;
    padding: 5px 7vw !important;
    min-height: 150px;
    /*     border-radius: 10px; */
  }

  @media screen and (min-width: 1256px) {
    /* box-shadow: 0.25rem 0.25rem 4px 4px var(themes-public-boxshadowcolor); */
    font-size: 0.95em;
    padding: 5px 7vw !important;
    min-height: 150px;
    /*     border-radius: 10px; */
  }

  & .container-fluid {
    /*    background-color: var(themes-public-navbarbgcolor); */
    min-height: 100%;
    border-radius: 0px;
    padding: 0px;
    justify-content: right !important;

    & .navbar-toggler {
      position: relative;
      top: 0px;
      right: -7px;
      cursor: pointer;
      padding: 10px;
      /* margin: -14px 5px; */
      /* border: 1px black solid; */
      border-radius: 10px;
      border-color: var(themes-public-foszin);

      & i {
        font-size: 30px;
        color: var(themes-public-foszin);

        @media screen and (min-width: 992px) {
          font-size: 30px;
          /* border-radius: 10px; */
          justify-content: space-between !important;
        }
      }
    }

    @media screen and (min-width: 992px) {
      border-radius: 10px;
      justify-content: space-between !important;
    }
  }

  &__collapse {
    position: relative;
    top: 10px;
    padding-bottom: 0px !important;

    z-index: 222222;
    @media screen and (min-width: 992px) {
      top: unset;
      min-height: 60px;
      padding-left: 10px;
    }
  }

  &__nav {
    padding: 10px 0px 0px 0px;
    /*  background-color: var(themes-public-navbgcolor); */
    width: 100%;
    border-radius: 0px;
    /* margin: 10px 0px; */
    font-size: 1em;

    /*  background-color: white !important; */

    @media screen and (min-width: 992px) {
      padding: 85px 0px 0px 0px;
      align-items: center;
      padding: 0px;
      min-height: 60px;
      justify-content: right;
      /*   border-radius: 0px 10px 10px 0px; */
      font-size: 1.1em;
    }

    .fa-brands.fa-accessible-icon {
      cursor: pointer;
      color: var(themes-public-foikonszin);
      padding: 10px;
      font-size: 30px;
      width: 50px;
      height: 30px;

      &.active {
        color: var(themes-public-mellekikonszin);
      }
    }
  }

  &__nav-item {
    &:hover {
      border-bottom: 0px;

      @media screen and (min-width: 992px) {
        border-bottom: 0px;
        background-color: unset;
      }
    }

    #myart {
      color: var(themes-public-alapadatok) !important;
    }

    @media screen and (min-width: 992px) {
      padding: 0px;
      min-height: 50px;
      display: flex;
      align-items: center;
    }
  }

  & .nav-link {
    padding: 10px !important;
    white-space: nowrap;
    transition-property: background-color, border-bottom, text-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    border-radius: 15px;
    color: var(themes-public-foszin) !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: var(themes-public-navlinkhoveractive);
      color: var(themes-public-betuszin) !important;
      /*             border: unset;
            text-shadow: 1px 1px var(themes-public-navlinktextshadow); */

      /*           @media screen and (min-width: 992px) {
                border-bottom: 5px solid var(themes-public-navlinkhoveractive);
                background-color: unset;
            } */
    }

    &.active {
      background-color: var(themes-public-navlinkhoveractive);
      border: unset;
      color: var(themes-public-betuszin) !important;

      @media screen and (min-width: 992px) {
        /* border-bottom: 5px solid var(themes-public-navlinkhoveractive); */
        background-color: var(themes-public-navlinkhoveractive);
      }
    }

    @media screen and (min-width: 992px) {
      min-height: 55px;
      display: flex;
      align-items: center;
      padding: 10px !important;
    }
  }

  .dropdown:focus-within .dropdown-content {
    display: block;
  }

  // .dropdown-toggle {
  //     white-space: nowrap;
  //     margin: 0px;
  //     padding: 0px;
  //     font-size: 1em;

  // }

  .dropdown-item {
    background: var(themes-public-navbgcolor);
    margin: 0px !important;
    color: inherit;
    padding: 0px 0px 0px 10px !important;
    border-radius: 15px;

    @media screen and (min-width: 992px) {
      background-color: var(themes-public-navbgcolor) !important;
      padding: 0px !important;
    }

    &:focus,
    &:hover {
      color: transparent !important;
      background: var(themes-public-navlinkhoveractive) !important;
    }
  }

  // .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover {
  //     background-color: var(themes-public-navlinkhoveractive);
  //     border: unset;
  //     text-shadow: 1px 1px var(themes-public-navlinktextshadow);

  //     @media screen and (min-width: 768px) {
  //         border-bottom: 5px solid var(themes-public-navlinkhoveractive);
  //         background-color: unset;
  //     }
  // }

  .dropdown-menu {
    background-color: transparent;
    border: none;

    @media screen and (min-width: 992px) {
      transform: translate(0px, 55%) !important;
    }
  }
}
