@use "../variables/colors";
@use "../functions/var" as *;

body.accessibility {
  .galeria_buttongroup {
    display: inline-block;
    .galeria_kategoriabutton {
      background: black !important;
      color: rgba(255, 255, 255, 1) !important;

      &:hover {
        background: white !important;
        color: black !important;
      }

      &.active {
        background: white !important;
        color: black !important;
      }
    }
  }
}

.public_galeria {
  width: 100%;
  position: relative;
  display: inline-block;
  justify-content: center;

  .galeria_buttonsdiv {
    position: fixed;
    z-index: 1;
    background-color: var(themes-public-mellekszin);
    width: 100%;
    text-align: center;
    top: 70px;
    padding: 20px;
    left: 0;
    // margin-bottom: 20px;

    .galeria_buttongroup {
      display: inline-block;
      .galeria_kategoriabutton {
        background: var(themes-public-mellekszin);
        color: var(themes-public-foszin);
        box-shadow: none !important;

        &:hover {
          background: var(themes-public-foszin);
          color: var(themes-public-mellekszin);
        }

        &.active {
          background: var(themes-public-foszin);
          color: var(themes-public-mellekszin);
        }
      }
    }

    @media screen and (min-width: 992px) {
      top: 150px;
    }
  }

  & .ReactGridGallery {
    position: relative;
    // top: 70px;

    // @media screen and (min-width: 992px) {
    //   top: 150px;
    // }
  }

  @media screen and (min-width: 992px) {
    display: inline-block;
  }
}
