@use "../variables/colors";
@use "../functions/var" as *;

.ingat_card {
  /* min-width: calc(33.3% - 10px);
    max-width: 100%;
    height: 200px;
    margin: 5px;
    border: 1px solid black; */
  cursor: pointer;
  /*  padding: 0px !important; */

  /* border: 2px solid gray; */
  /*  width: 100% !important; */
  background-color: white;
  border: 1px solid #aaa;
  min-width: 100%;
  max-width: 100%;
  /*     padding: 0px 15px 0px 0px !important; */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /*     flex: 0 1 50% !important; */
  /* border: 1px solid #aaa; */

  /* @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 50% !important;
    } */

  /*  @media only screen and (min-width: 992px) and (max-width: 1400px) {
        flex: 0 1 calc(50% - 3px) !important;
    }

    @media only screen and (min-width: 1400px) {
        flex: 0 1 calc(50% - 3px) !important;
    } */

  &:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 5px 5px;
  }

  &__badges {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 30px;
    width: 70px;
    padding: 0px;
    opacity: 0.8;

    span {
      border-top-left-radius: none;
      font-size: 0.9em !important;
      padding: 10px 5px !important;

      &:first-child {
        border-top-left-radius: 15px;
      }
    }
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    min-width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    min-height: 180px;
    max-height: 180px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #aaa;
    cursor: pointer;
    margin: 5px;
    /* TODO: Mobilnézetre is megcsinálni a fenti a teljes nézetre van!!! */
    /* padding: -5px -15px; */

    @media screen and (min-width: 1200px) {
      min-width: calc(50% - 10px);
      max-width: calc(50% - 10px);
    }

    @media screen and (min-width: 1800px) {
      min-width: calc(33% - 10px);
      max-width: calc(33% - 10px);
    }

    &:hover {
      -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px;
      -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px 5px;
      box-shadow: rgba(0, 0, 0, 0.8) 0 5px 5px;
    }

    &__image {
      /*  width: 40%; */
      width: 45%;
      /* padding: 5px; */
      height: 180px;

      img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        width: 100%;
        height: 100%;
        /* border: 1px solid #aaa;
                border-right: none; */
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        /*   height: 100%; */
      }
    }

    &__adatok {
      /* display: inline-block;
            margin: auto 0px; */
      font-size: 0.85em;
      width: 55%;
      padding: 5px;
      max-height: 180px;
      /*  border: 1px solid #aaa; */
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &__megtekgomb {
      width: 12.5%;
      height: inherit;

      button {
        color: black;
        background-color: rgb(58, 214, 197);
        width: 100%;
        height: 170px;
        border: none;
        box-shadow: none;

        &:hover {
          background-color: rgb(58, 214, 197);
          color: black;
        }

        &:active {
          background-color: rgb(58, 214, 197);
          color: black;
        }
      }
    }
  }
}

.ingatlan_card {
  min-width: 100%;
  // max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;

  .ingatlan_adatok {
    padding: 0px;
    width: 100%;

    @media screen and (min-width: 992px) {
      width: calc(70% - 10px);
    }

    .ingatlan_cim {
      background-color: var(themes-public-alapadatok);
      color: black;
      padding: 10px 5px;
      font-size: 1em;

      @media screen and (min-width: 992px) {
        font-size: 1.2em;
      }
    }

    .galeria {
      min-width: 66%;
      min-height: 400px;
      padding: 0px;

      @media screen and (min-width: 768px) {
        padding: 10px 0px;
      }

      .image-gallery-slides {
        background-color: rgba(0, 0, 0, 1);
      }

      .image-gallery-thumbnails {
        background-color: rgba(0, 0, 0, 1);
      }

      .image-gallery-thumbnail-image {
        height: 65px;
      }

      .image-gallery-image {
        object-fit: contain !important;
      }

      .image-gallery-icon.image-gallery-fullscreen-button {
        background-color: rgba(0, 0, 0, 0.2);

        svg {
          height: 20px;
          width: 20px;
        }
      }

      .image-gallery-content.fullscreen {
        margin: auto 0px;
        height: 100%;

        // .image-gallery-slide-wrapper {
        //     height: 100%;

        // }

        // .image-gallery-swipe, .image-gallery-slides, .image-gallery-slide {
        //     height: 100%;
        // }

        // .image-gallery-thumbnails-wrapper {
        //     position: fixed;
        //     bottom: 0px;
        // }
        .image-gallery-icon.image-gallery-fullscreen-button {
          background-color: rgba(0, 0, 0, 0.8);
        }

        .image-gallery-image {
          object-fit: fill !important;
          height: 100vh;
        }
      }
    }

    .alapadatok {
      font-size: 25px;
      background-color: var(themes-public-alapadatok);
      color: black;
      padding: 15px;
    }

    .adatok {
      & .card-header {
        padding: 1rem !important;
      }

      & .card-body {
        padding: 10px auto;
        white-space: pre-line;
      }
    }
  }

  .ertekesito_adatok {
    background-color: var(themes-public-ertekesitoadatok);
    display: flex;
    // align-items: center;
    text-align: center;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    padding: 5% 20px;
    gap: 20px;

    .facebook-share {
      display: block;
      /*  position: relative; */
      width: fit-content;
      text-align: center;
      padding: 5px 10px;
      background-color: var(base-fbcolor);
      color: #fafafa;
      margin: 0 auto;
      font-size: 18px;
      border: none;
      box-shadow: none;
      border-radius: 10px;

      i {
        font-size: 18px;
        padding: 5px;
      }
    }

    .facebook-share :hover {
      /* padding: 10px; */
      background-color: var(base-color);
      color: #fafafa;
    }

    & .elado_adatok {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & .elado_avatar {
      img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }
    }

    & .btn.btn-success {
      background-color: black;
      color: white;

      & i {
        color: white;
      }
    }

    @media screen and (min-width: 992px) {
      width: calc(30% - 10px);
    }
  }
}
