body.accessibility {
  .idopontfoglalo__ido {
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: black;
    color: rgba(255, 255, 255, 1);
  }

  .idopontfoglalo__ido.active {
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }
}

.szolgbuborek {
  display: flex;
  padding: 5px;
  min-height: 100px;
  border: 1px solid red;

  & .szoveg {
    width: 90%;
  }

  & .torles {
    display: flex;
    text-align: right;
    width: 10%;
    height: 30%;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: black !important;
    cursor: pointer;

    // & span {
    //   background-color: red;
    //   padding: 2px 7px;
    //   color: black !important;
    //   cursor: pointer;
    // }
  }
}

.idopontfoglalo__idopontok {
  display: flex;
  flex-wrap: wrap;

  .idopontfoglalo__ido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 10px);
    height: 20px;
    padding: 20px 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid rgba(241, 24, 24, 1);
    background-color: black;
    color: rgba(241, 24, 24, 1);
  }

  .idopontfoglalo__ido.active {
    border: 2px solid rgba(241, 24, 24, 1);
    background-color: rgba(241, 24, 24, 1);
    color: black;
  }
}
