$colors: (
  base: (
    black: #222,
    white: #efefef,
    fbcolor: #4267b2,
  ),
  themes: (
    public: (
      // foszin: rgba(255, 0, 0, 1),
      foszin: #333,
      mellekszin: #e0c9cc,
      // betuszin: rgba(255, 0, 0, 1),
      betuszin: #e0c9cc,
      navbgcolor: #e0c9cc,
      navbarlogo: url("../images/logouj.png"),
      // navlinkhoveractive: rgba(255, 0, 0, 1)
      navlinkhoveractive: #333,
      // foikonszin: rgba(255, 0, 0, 1),
      foikonszin: #333,
      mellekikonszin: rgba(0, 255, 0, 1),
      footerdivbgcolor: #333,
    ),
    admin: (
      bgimage: url("../static/images/blackback.png"),
      navbarlogo: url("../images/logo_uj.png"),
      fbcolor: #4267b2,
      navbarbgcolor: rgba(58, 214, 197, 1),
      navbarlinkcolor: black,
      navbarlinkbgactivehover: whitesmoke,
      navlinkhoveractivebg: whitesmoke,
      avatarbordercolor: black,
      sidebarbg: #222222,
      sidebartogglerbordercolor: black,
      sidebarnavlinkcolor: blanchedalmond,
      sidebaractivehoverbg: whitesmoke,
      sidebarnavlinkactivehoverfontcolor: #222222,
      tartalombgcolor: white,
      footerbgcolor: rgba(58, 214, 197, 1),
      footerfontcolor: black,
      mainColor: rgba(58, 214, 197, 1),
    ),
  ),
);
