$colors: (
  base: (
    black: #222,
    white: #efefef,
    fbcolor: #4267b2,
  ),
  themes: (
    public: (
      bgcolor: rgba(255, 255, 255, 1),
      bgcolor2: rgba(237, 224, 122, 1),
      bgimage: url("../static/images/blackback.png"),
      fbcolor: #4267b2,
      mainColor: rgba(58, 214, 197, 1),
      navbarbgimage: url("/static/images/borito2.jpg"),
      navbarbgcolor: rgba(0, 0, 0, 1),
      navbgcolor: rgba(0, 0, 0, 1),
      navbarlogo: url("../images/logo.jpg"),
      etikuslogo: url("../images/etikus.png"),
      hitelnetlogo: url("../images/hitelnet_logo.png"),
      otplogo: url("../images/otp.jpg"),
      unicreditlogo: url("../images/unicredit.jpg"),
      erstelogo: url("../images/erste.jpg"),
      khlogo: url("../images/kh.png"),
      mbhlogo: url("../images/mbh.png"),
      ciblogo: url("../images/cib.png"),
      rolunkback: url("../images/rolunkback2.png"),
      telikon: url("../images/telikon.png"),
      emailikon: url("../images/emailikon.png"),
      cimikon: url("../images/cimikon.png"),
      navbarlinkcolor: rgb(241, 24, 24),
      alapadatok: rgba(58, 214, 197, 1),
      ertekesitoadatok: rgba(58, 214, 197, 1),
      navlinkhoveractive: rgba(241, 24, 24, 1),
      navlinktextshadow: rgba(58, 214, 197, 1),
      boxshadowcolor: rgba(174, 255, 237, 0.514),
      sidebarbg: rgba(58, 214, 197, 1),
      reszl_keresobg: #14ac89,
      collapsebg: rgba(174, 255, 237, 0.514),
      collapsefontcolor: rgba(0, 0, 0, 1),
      ingatlanlistacardborder: darkgray,
      ingatlanlistacardhover: black,
      tartalombgcolor: rgba(215, 197, 153, 0.5),
      footerbgimage: url("/static/images/borito.jpg"),
      footerbgcolor: rgba(255, 255, 255, 0.4),
      footerdivbgcolor: rgba(0, 0, 0, 0.9),
      footerfontcolor: rgba(255, 255, 255, 1),
      new: #dd0000,
      newfont: black,
      viewbutton: rgba(147, 245, 98, 1),
    ),
    admin: (
      bgimage: url("../static/images/blackback.png"),
      navbarlogo: url("../images/logo_uj.png"),
      fbcolor: #4267b2,
      navbarbgcolor: rgba(58, 214, 197, 1),
      navbarlinkcolor: black,
      navbarlinkbgactivehover: whitesmoke,
      navlinkhoveractivebg: whitesmoke,
      avatarbordercolor: black,
      sidebarbg: #222222,
      sidebartogglerbordercolor: black,
      sidebarnavlinkcolor: blanchedalmond,
      sidebaractivehoverbg: whitesmoke,
      sidebarnavlinkactivehoverfontcolor: #222222,
      tartalombgcolor: white,
      footerbgcolor: rgba(58, 214, 197, 1),
      footerfontcolor: black,
      mainColor: rgba(58, 214, 197, 1),
    ),
  ),
);
